body {
	background-color: #eeaae0;
	font-size: 2em;
	line-height: 1em;
	font-family: Verdana, sans-serif;
}

ul *, h4 {
	margin: 0;
	line-height: 1em;
	width: fit-content;
}

div.tc {
	display: table-cell;
	padding-left: 20px;
}
