.p1 {
	text-align: right;
	text-decoration: italic;
}

.p2 {
	text-transform: uppercase;
	text-decoration: line-through;
}

.p3 {
	font-family: monospace;
	font-size: 1.2em;
}

.p4 {
	font-weight: bold;
	text-shadow: -3px 3px 3px green;
}

a {
	width: 100px;
	height: 50px;
	color: white;
}

div:not(:last-child) > a:nth-child(2) {
	background-color: red;
}
div:not(:last-child) > a:nth-child(3) {
	background-color: blue;
}
div:not(:last-child) > a:nth-child(4) {
	background-color: green;
}

div {
	padding: 40px 20px;
	width: 400px;
	height: 200px;
	border-radius: 20px;
	display: table-cell;
}

div.buscadores {
	background-color: royalblue;
}

div.buscadores a {
	display: table-cell;
}

div.redes {
	background-color: lightseagreen;
}

div.redes a {
	display: block;
}

div.noticias {
	background-color: #ff00f085;
}

div.noticias {
	background-image: url("../imgs/img.png");
	background-position: bottom right;
	background-size: 250px;
	background-repeat: no-repeat;
}