table, td, tr {
	border: 1px solid hotpink;
	text-align: center;
	vertical-align: middle;
}

a {
	padding: 12px;
	background-color: #fff;
	color: darkgreen;
	border: 4px hotpink dotted;
	width: fit-content;
	border-radius: 4px;
	text-decoration: none;
}